.img-container {
  width: 80%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  margin-left: -200px;
  z-index: -100;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
}

.img-container  img {
  height: 100vh;
  width: 100%;
  object-position: left;
  opacity: 0.8;
}

@media only screen and (max-width: 800px) {
  .img-container {
    display: none;
  }
}
