.navBar {
  background: #FFF;
}

.flex {
  display: flex;
}

.border-bottom-orange {
  border-bottom: 3px solid #e09c28;
}

.link:hover {
  background: #EEE;
  border-bottom: 3px solid #e09c28;
  color: #3aa6e2;
}

.logo {
  font-size: 1.5rem;
  padding:0.1em 0;
  margin-left: 1em;
}

.navbar-brand {
  text-align: left;
  flex:1;
  margin: 0 !important;
}
.navbar-text {
  text-align: right;
  flex: 2;
  padding: 0 1em;
}

.social {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.sign-in {
  background-color: #3aa6e2;
}

.sign-in:hover {
  background-color: #6bc6f9;
}

.sign-in a,
.sign-in a:active,
.sign-in a:hover {
  color: #FFF;
}
